main {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    flex: 0 auto;
}

.content {
    flex: 1 auto;
}

.RoomList {
    position: absolute;
    left: 0;
    z-index: 300;
    width: 300px;
    height: 90%;
    float: left;
    background: gray;
    padding: 2em;
    text-align: left;

    .room {
        cursor: pointer;
        margin-bottom: 0.5em;
    }

    h1 {
        margin-bottom: -0.5em !important;
    }

    .new-room-modal {
        width: 100vw;
        height: 100vh;
        background: rgba(26, 26, 26, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 300;
        display: none;

        .modal-content {
            position: relative;
            border-radius: 5px;
            padding: 3em;
            border: 1px solid rgb(26, 26, 26);
            background: rgba(255, 255, 255, 0.5);
        }

        .modal-exit {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
        }
    }

    .active-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.MessageList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        padding: 1em 0;
        flex: 0 auto;
    }

    .message-container {
        flex: 1 auto;
    }

    .chatbox {
        flex: 0 auto;
    }

    .message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;

        &:nth-child(odd) {
            background: rgba(26, 26, 26, 0.1);
        }

        .message-info {
            flex: 1 auto;
            text-align: left;
            .message-username, .message-content {
                display: block;
            }
        }

        .message-username {
            font-weight: bold;
        }

        .message-timestamp {
            flex: 0 auto;
        }
    }
}

.selected {
    color: blue;
}

.icon.bars {
    cursor: pointer;
}

.hidden {
    position: absolute;
    left: -10000px;
}
